body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background: url('images/bg1.jpg');
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    margin-top: 20px;
}

.textbox {
    margin-bottom: 15px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

.textbox input:focus {
    border-color: #4caf50;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.checkbox-container {
    margin: 20px 0;
}

#asset-details {
    margin-top: 20px;
}

#checkout-list {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
}

#checkout-list div {
    margin: 5px 0;
}

#checkout-list button {
    background-color: red;
    margin-top: 10px;
    padding: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#checkout-list button:hover {
    background-color: darkred;
}
